<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
  <title>{% block head_title %}oerfeeds.info{% endblock %}</title>
  <link href="/resources/oerfeeds.css" media="all" 
	rel="stylesheet" type="text/css" />
  <style>
    {% block style %}
    {% endblock %}
  </style>

  {% block header %}
  {% endblock %}

</head>
<body>
  <div id="header">
    <div id="user-admin">

      {% if user %}

      <a href="/add/">add a feed</a>
      <a href="/userfeeds/">my feeds</a>
      <a href="{{logout_url}}">logout</a>

      {% else %}

      <a href="{{login_url}}">login</a> 

      {% endif %}
    </div>

  </div>

  <div id="topbar">
  </div>
  
  <div id="messages">
  </div>

  <div id="content">
    <h1><a href="/">oerfeeds.info</a></h1>
    <h2>{% block title %}{% endblock %}</h2>

{% block body %}
{% endblock %}

  </div>

  <div id="footer">
    
    {% block footer %}
    {% endblock %}
    <p>
oerfeeds.info is a project
    of <a href="http://learn.creativecommons.org">ccLearn</a>
    and <a href="http://cosl.usu.edu/">COSL</a></p>

    <p>Code is made
    available under
    the <a href="http://www.fsf.org/licensing/licenses/agpl-3.0.html">GNU
    AGPL 3</a> and is available
    from <a href="http://code.creativecommons.org">code.creativecommons.org</a>
    in
    the <a href="http://code.creativecommons.org/viewgit?p=oerfeeds.git">oerfeeds.git</a>
    repository.
    </p>
  </div>

</body>
</html>

