{% extends "base.html" %}

{% block body %}

    <p>This site provides an index of 
      <acronym title="Open Educational Resource">OER</acronym> feeds which
      can be aggregated by other applications. 
      (<a href="/h/details">more information</a>)
    </p>

    <ul>
      <li><a href="/feeds/">All feeds</a>
	<ul>
	  <li><a href="/feeds/opml">
	      <img src="/resources/opml-icon-16x16.png" /> OPML</a>
      (<a href="http://en.wikipedia.org/wiki/OPML">OPML
      Format</a>)</li>
	  </ul>
      </li>

      {% if user %}
      <li><a href="/userfeeds/">Your feeds</a></li>
      {% else %}
      <li><a href="{{login_url}}">Login</a> to add a feed.</li>
      {% endif %}
    </ul>

{% endblock %}

{% block footer %}
<p>OPML Icon by <a href="http://www.opmlicons.com/">Matt Brett / OPML Icons</a>,
  used under <a href="http://creativecommons.org/licenses/by-sa/2.5/">CC
  BY-SA 2.5</a>
</p>

{% endblock %}
