{% extends "base.html" %}

{% block body %}

    <p>This site provides an index of 
      <acronym title="Open Educational Resource">OER</acronym> feeds which
      can be aggregated by other applications.
    </p>

    <ul>
      <li><a href="/feeds.opml">OPML list of feeds</a></li>
      <li><a href="/login">Login</a> to add or edit your feeds.</li>
    </ul>


    <h2>Most Recent OER Feeds</h2>
    <table id="manager">

      {% for f in feeds %}

      <tr>
	<td><a href="{{ f.url }}">{{ f.title }}</a></td>
	<td><a href="{{ f.url }}">{{ f.url }}</a></td>
      </tr>

      {% endfor %}

    </table>

    <p>(<a href="http://www.opml.org/spec2">OPML Format</a>)</p>

{% endblock %}
