{% extends "base.html" %}

{% block title %}Contributed Feeds{% endblock %}

{% block body %}

  {% if feeds %}

    <table id="manager">

      {% for f in feeds %}

      <tr>
	<td>{{ f.title }}</td>
	<td><a href="{{ f.url }}">{{ f.url }}</a></td>
	<td><a href="/edit/{{f.key.id}}/">(edit)</a></td>
	<td><a href="/delete/{{f.key.id}}/">(delete)</a></td>
      </tr>

      {% endfor %}

    </table>
  {% else %}
    <p>
      You haven't contributed any feeds yet; would you like
      to <a href="/add/">add one</a>?
    </p>
  {% endif %}

{% endblock %}
